@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #1C0A00; 
    --cor-secundaria:#FFFBEB;
    --cor-tercaria: #CC9544;
    --cor-hover: #F2E7D5; 
    
    --fonte-primaria: 'krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color:var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 8.7%;
}

.cabecalho_menu{
    display: flex;
    gap: 50px;
}

.cabecalho_menu_link{
    font-family: var(--fonte-secundaria);
    font-size: 1.25rem;
    /* width: 550px; */
    color: var(--cor-tercaria);
    gap: 10px;
    text-decoration: none;
}

.titulo_destaque{
    color: var(--cor-tercaria);
}

.apresentacao{
    padding: 5% 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao_conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.apresentacao_conteudo_titulo{
    font-size: 1.75rem;
    font-family:var(--fonte-primaria);
}

.apresentacao_conteudo_texto{
    font-size: 1.15rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao_links{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;  
}

.apresentacao_links_subtitulo{

    font-family: var(--fonte-primaria);
    font-size: 1.0rem;
    font-weight: 65px;

}

.apresentacao_links_navegacao{
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-tercaria);
    width: 50%;
    text-align: center;
    border-radius: 6px;
    font-size: 1.3rem;
    font-weight: 50%;
    padding: 15.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family:var(--fonte-secundaria);
}

.apresentacao_links_navegacao:hover{

    background-color: var(--cor-hover);
}

.apresentacao_imagem{
    width: 50%;
}

.rodape{
    padding: 12px;
    color:var(--cor-primaria);
    background-color: var(--cor-tercaria);
    text-align: center;
    font-family:var(--fonte-secundaria); 
    font-size: 0.8rem;
    font-weight: 350px;
}

@media(max-width:1020px){

    .cabecalho{
        padding: 10%;
    }

    .cabecalho_menu{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
   
    .apresentacao_conteudo{
        width: auto;
    }
}